.card{
    border: 5px solid black;
    width: 400px;
    margin: 30px auto;
    text-align: justify;
    border-radius: 20px;
}

.card>h1{
    text-align: center;
    border-bottom: 5px solid black;
    padding-bottom: 5px;
}

.card>p{
    border-bottom: 5px solid black;
    padding-bottom: 5px;
    border-top: 5px solid black;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.card>button{
    background-color: aqua;
    color: purple;
    margin: 20px;
    width: 120px;
    height: 55px;
    font-size: larger;
    border-radius: 30px;
}

.card>img{
    display: block;
    margin: auto;
    height: 300px;
    border: 3px dashed black;
    border-radius: 6px;
}